@import "bootstrap";
@import "colors";
@import "font-awesome";



hr {clear: both;}
// Flex globals
.flex {
    display:flex;
    flex-flow: row;
    justify-content: center;
    > * {
        flex:1;
    }
}
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
@mixin gradient-horizontal-transfluent($startColor:rgba(0,0,0,0.85), $startStop: -20%, $endColor:rgba(0,0,0,0), $endStop: 100%) {
// background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  $startColor $startStop, $endColor $endStop); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop($startStop,$startColor), color-stop($endStop,$endColor)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  $startColor $startStop,$endColor $endStop); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  $startColor $startStop,$endColor $endStop); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  $startColor $startStop,$endColor $endStop); /* IE10+ */
background: linear-gradient(to bottom,  $startColor $startStop,$endColor $endStop); /* W3C */
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-8 */
}

body {
    padding-top: 60px; 
    // @include gradient-horizontal-three-colors(#333, #999, 50%, #333);
}

// Fluid multi-row thumbnails pathc
.row-fluid .thumbnails .span1:nth-child(12n+1), 
.row-fluid .thumbnails .span2:nth-child(6n+1), 
    .row-fluid .thumbnails .span3:nth-child(4n+1), 
    .row-fluid .thumbnails .span4:nth-child(3n+1), 
    .row-fluid .thumbnails .span6:nth-child(2n+1) {
        margin-left: 0;
}
//
.form-search {
    label {
        display: inline-block;
        margin-left: 10px;
    }
}
// Labels
.labels {
    .label { 
        display: inline-block;
        padding: 2px 8px;
        margin: 0 5px ($baseLineHeight / 3) 0;
        line-height: 1.5;
    }
}
// Promo block
.promo {
    min-height: 300px;
    text-align: center;
    h2 {
        padding-top: 110px;
    }
}
// FEATURED
// holder for picture and controls
.feature-top {
    position:relative;
    .feature-title, .feature-info, .player {
        position:absolute;
    }
    .feature-title {
        top: 0;
        left: 0;
        width: 100%;
        line-height: 1.5;
        margin: 0;
        @include gradient-horizontal-transfluent();
    }
    .feature-info {
        top: 0;
        right: 0;
    }
    .player { 
        top: auto;
        bottom: 0;
        width: 100%;
    }
}
.feature-labels {
    font-size: 11px;
    line-height: 1.5;
    span {padding: 0 5px;}
}
// REGULAR
.regular-link {
    float: left;
    display: block;
    @include square(80px);
}
.regular, .regular-content {
    overflow: hidden;
}
.regular-content {
    min-height: 80px;
}

// Player
.player, .quick-stat {    
    margin-bottom: $baseLineHeight;
}
.player {
    position: relative;
    height: 60px;
}
.controls {
    background-color: #000;
    text-align: center;
    @include square(60px);
    a {
        @include size(57px, 58px);
        padding: 0;
    }
    i {
        line-height: 60px;
    }
}
.wave {
    position: absolute;
    top: 0;
    margin: 0 40px 0 100px;
    img {
        height: 54px;
        width: 100%;
    }
}

//Shouts
.shouts {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
