@import "bootstrap";
@import "colors";
@import "font-awesome";



hr {clear: both;}
// Flex globals
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}
@mixin order($val) {
  -webkit-box-ordinal-group: $val;  
  -moz-box-ordinal-group: $val;     
  -ms-flex-order: $val;     
  -webkit-order: $val;  
  order: $val;
}

.flex-row {
  -webkit-box-direction: normal;
  -moz-box-direction: normal;

  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;

  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;

  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;

  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;

  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: start;
  -moz-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;

  @include flexbox();
  .flex-item {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
  }
}
.flex-column {

  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;

  @include flexbox();
  .flex-item {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
  }
}


/* IE9 SVG, needs conditional override of 'filter' to 'none' */
@mixin gradient-horizontal-transfluent($startColor:rgba(0,0,0,0.85), $startStop: -20%, $endColor:rgba(0,0,0,0), $endStop: 100%) {
// background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  $startColor $startStop, $endColor $endStop); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop($startStop,$startColor), color-stop($endStop,$endColor)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  $startColor $startStop,$endColor $endStop); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  $startColor $startStop,$endColor $endStop); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  $startColor $startStop,$endColor $endStop); /* IE10+ */
background: linear-gradient(to bottom,  $startColor $startStop,$endColor $endStop); /* W3C */
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-8 */
}

body {
  padding-top: 60px; 
    // @include gradient-horizontal-three-colors(#333, #999, 50%, #333);
  }

// Fluid multi-row thumbnails pathc
.row-fluid .thumbnails .span1:nth-child(12n+1), 
.row-fluid .thumbnails .span2:nth-child(6n+1), 
.row-fluid .thumbnails .span3:nth-child(4n+1), 
.row-fluid .thumbnails .span4:nth-child(3n+1), 
.row-fluid .thumbnails .span6:nth-child(2n+1) {
  margin-left: 0;
}
//
.form-search {
  label {
    display: inline-block;
    margin-left: 10px;
  }
}
// Labels
.labels {
  .label { 
    display: inline-block;
    padding: 2px 8px;
    margin: 0 5px ($baseLineHeight / 3) 0;
    line-height: 1.5;
  }
}
// Promo block
.promo {
  min-height: 300px;
  text-align: center;
  h2 {
    padding-top: 110px;
  }
}
// FEATURED
// holder for picture and controls
.feature-top {
  position:relative;
  .feature-title, .feature-info, .player {
    position:absolute;
  }
  .feature-title {
    top: 0;
    left: 0;
    width: 100%;
    line-height: 1.5;
    margin: 0;
    padding:0 10px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    @include gradient-horizontal-transfluent();
  }
  .feature-info {
    top: 0;
    right: 0;
  }
  .player { 
    top: auto;
    bottom: 0;
    width: 100%;
  }
}
.feature-labels {
  margin-top: 2px;
  height:32px;
  width:60px;
  span {
    margin: 1px 0 0;
    &:first-child {margin-top: 0;}
  }
}
// REGULAR
.regular-link {
  float: left;
  display: block;
  @include square(80px);
}
.regular, .regular-content {
  overflow: hidden;
}
.regular-content {
  min-height: 80px;
}

//  Meta
.meta {
  h2, h4 {
    margin: 0 10px ($baseLineHeight / 2);
    line-height: $baseLineHeight * 2;
  }
  small {
    line-height: $baseLineHeight * 2;
    color: #999;
  }
}

// Player
.player.electronica {
  .btn { border:1px solid #F500FE; }
}
.player {
  position: relative;
  height: 80px;
//    z-index: 4;
}
.player-controls {
  background-color: #000;
  text-align: center;
  width:60px;
  a {
    @include square(58px);
    padding: 0;
  }
  i {
    line-height: 60px;
  }
}
.label-stat {
  font-size: $baseFontSize - 3;
  color: #aaa;
  font-weight: normal;
  display: block;
  background: $grayDarker;
  border: 1px solid #111;
}
.wave {
  position: absolute;
  margin: 0 60px;
  cursor: pointer;
  img {
    height: 54px;
    width: 100%;
  }
}
// Comments
.comments {
  height: 24px;
  position: relative;
  top:-21px;
}
.comments-holder {
  position: absolute;
  z-index: 3;
  padding: 0 60px;
  width:100%;
  @include box-sizing(border-box);
}
.comments-timeline {
  border-top:1px solid #B700BB; 
  border-bottom:1px solid #111; 
  background: #282828;
  height: 19px;    
  position: relative;
  a {
    top: 0;
    position: absolute;
    @include square (18px);
  }
}
.comment img {vertical-align: top;}
.add-comment {
  form { width: 100%;}
  textarea {width: 80%; float: left;}
  label { font-size: 12px;}
  .btn { margin: $baseLineHeight / 4 0;}
}
.quick-stat {margin-top: 10px;}
#mix-info {
    // Actual tabs (as links)
    .nav-tabs > li > a {
      padding-top: 8px;
      padding-bottom: 8px;
      line-height: $baseLineHeight;
      border: 1px solid transparent;
      @include border-radius(4px 4px 0 0);
      color: $white;
      &:hover,
      &:focus {
        background: $grayDarker;
        border-bottom: 1px solid #ddd;
      }
    }
    // Active state, and it's :hover/:focus to override normal :hover/:focus
    .nav-tabs > .active > a,
    .nav-tabs > .active > a:hover,
    .nav-tabs > .active > a:focus {
        // color: $gray;
        background-color: $bodyBackground;
        border: 1px solid #ddd;
        border-bottom-color: transparent;
        cursor: default;
      }    
    }

// Tracklist
table.tracklist tbody > tr:first-child td {border-top:none; border-bottom:none;}

// Comments list
.shouts-filter {
  .nav {
    display: inline-block;
    margin: 0;
    vertical-align: middle;

    > li {
      font-size: 12px;
      line-height: 20px;
      a {
        padding: 4px 6px;
        color: #F500FE;
        &:hover {background: #222;}
      }
      &.active a {
        background: #111;
        color: #aaa;
      }
    }
  }
  strong { 
    line-height: 25px;
    display: inline-block;
  }
}
.shouts {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px; 
  .media-heading {float: left; }
  .meta {float: right; }
  .shout {clear: both; }
}
// Favourites
ul.favorites {
  > li {
    padding-left: 0;
    padding-right: 5px;
    line-height: 15px;
    a {
      display: inline-block;
    }
    img { 
      margin-right:5px;
      @include square (18px);
    }        
  }
  img {vertical-align: middle;}
}
.stat, .favs {
  margin-bottom: $baseLineHeight / 2;
}
.stat img {
  width: 100%;
  height: 120px;
}
.favs h5 {margin: 0;}
.form-share {

}
.col-artist, .mix-artist {
  h2, h3 {margin-top: 0;}
  img {margin-bottom: $baseLineHeight / 2;}
}

.artist-labels {
  width: 100%;
  span {
    height: 10px;
    margin-left: 1px;
    &:first-child {margin-left: 0;}
  }
}
// Followers
ul.followers {
  margin-bottom: 0;
  > li {
    margin-bottom: 10px;    
  }
}
.animate-enter, 
.animate-leave
{ 
  -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  position: relative;
  display: block;
} 

.animate-enter.animate-enter-active, 
.animate-leave {
  opacity: 1;
  top: 0;
  height: 30px;
}

.animate-leave.animate-leave-active,
.animate-enter {
  opacity: 0;
  top: -50px;
  height: 0px;
}
