@import "bootstrap";
@import "font-awesome";

// Styles color table
.house { color:#7100FF; }
.disco, .punk { color:#8E01FF; }
.breaks, .minimal { color:#AD02FF; }
.hip-hop, .hardcore { color:#D001FF; }
.electronica, .dub { color:#F500FE; }
.world, .prog { color:#FF00A9; }
.crossover, .anthem { color:#FE0060; }
.techno { color:#FD0000; }
.funk, .afro { color:#FF3C04; }
.dubstep, .retro { color:#FF6501; }
.glitch, .funky { color:#FF9101; }
.downbeat, .bit { color:#FCAF00; }
.reggae, .tribal { color:#FFD100; }
.mash-up, .future { color:#FCFC00; }
.electro { color:#BCFD00; }
.soul, .latin { color:#7F0; }
.broken, .abstract { color:#23FF01; }
.garage, .jazzy { color:#00FF71; }
.ambient, .hard { color:#00FEBA; }
.jazz, .cosmic { color:#01FFE0; }
.eclectic, .balearic { color:#01F5FF; }
.trance { color:#01CFFE; }
.r-b, .dirty { color:#00A7FF; }
.drum-bass, .classic { color:#007eff; }
.scratch, .urban { color:#0053FE; }
.noise, .dark { color:#0030fe; }
.rock, .new { color:#0121F2; }
.verbal, .deep { color:#0121F2; }

.bg-house { background-color:#7100FF; color:$black;}
.bg-disco, .bg-punk { background-color:#8E01FF; color:$black;}
.bg-breaks, .bg-minimal { background-color:#AD02FF; color:$black;}
.bg-hip-hop, .bg-hardcore { background-color:#D001FF; color:$black;}
.bg-electronica, .bg-dub { background-color:#F500FE; color:$black;}
.bg-world, .bg-prog { background-color:#FF00A9; color:$black;}
.bg-crossover, .bg-anthem { background-color:#FE0060; color:$black;}
.bg-techno { background-color:#FD0000; color:$black;}
.bg-funk, .bg-afro { background-color:#FF3C04; color:$black;}
.bg-dubstep, .bg-retro { background-color:#FF6501; color:$black;}
.bg-glitch, .bg-funky { background-color:#FF9101; color:$black;}
.bg-downbeat, .bg-bit { background-color:#FCAF00; color:$black;}
.bg-reggae, .bg-tribal { background-color:#FFD100; color:$black;}
.bg-mash-up, .bg-future { background-color:#FCFC00; color:$black;}
.bg-electro { background-color:#BCFD00; color:$black;}
.bg-soul, .bg-latin { background-color:#7F0; color:$black;}
.bg-broken, .bg-abstract { background-color:#23FF01; color:$black;}
.bg-garage, .bg-jazzy { background-color:#00FF71; color:$black;}
.bg-ambient, .bg-hard { background-color:#00FEBA; color:$black;}
.bg-jazz, .bg-cosmic { background-color:#01FFE0; color:$black;}
.bg-eclectic, .bg-balearic { background-color:#01F5FF; color:$black;}
.bg-trance { background-color:#01CFFE; color:$black;}
.bg-r-b, .bg-dirty { background-color:#00A7FF; color:$black;}
.bg-drum-bass, .bg-classic { background-color:#007eff; color:$black;}
.bg-scratch, .bg-urban { background-color:#0053FE; color:$black;}
.bg-noise, .bg-dark { background-color:#0030fe; color:$black;}
.bg-rock, .bg-new { background-color:#0121F2; color:$black;}
.bg-verbal, .bg-deep { background-color:#0121F2; color:$black;}




/* IE9 SVG, needs conditional override of 'filter' to 'none' */
@mixin gradient-horizontal-transfluent($startColor:rgba(0,0,0,0.85), $startStop: -20%, $endColor:rgba(0,0,0,0), $endStop: 100%) {
// background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  $startColor $startStop, $endColor $endStop); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop($startStop,$startColor), color-stop($endStop,$endColor)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  $startColor $startStop,$endColor $endStop); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  $startColor $startStop,$endColor $endStop); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  $startColor $startStop,$endColor $endStop); /* IE10+ */
background: linear-gradient(to bottom,  $startColor $startStop,$endColor $endStop); /* W3C */
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-8 */
}

body {
    padding-top: 60px; 
    // @include gradient-horizontal-three-colors(#333, #999, 50%, #333);
}

// Fluid multi-row thumbnails pathc
.row-fluid .thumbnails .span1:nth-child(12n+1), 
.row-fluid .thumbnails .span2:nth-child(6n+1), 
    .row-fluid .thumbnails .span3:nth-child(4n+1), 
    .row-fluid .thumbnails .span4:nth-child(3n+1), 
    .row-fluid .thumbnails .span6:nth-child(2n+1) {
        margin-left: 0;
}
// Promo block
.promo {
    min-height: 300px;
    text-align: center;
    h2 {
        padding-top: 110px;
    }
}
// FEATURED
// holder for picture and controls
.feature-top {
    position:relative;
    .feature-title, .feature-info, .player {
        position:absolute;
    }
    .feature-title {
        top: 0;
        left: 0;
        width: 100%;
        line-height: 1.5;
        margin: 0;
        @include gradient-horizontal-transfluent();
    }
    .feature-info {
        top: 0;
        right: 0;
    }
    .player { 
        top: auto;
        bottom: 0;
        width: 100%;
    }
}
.feature-labels {
    font-size: 11px;
    line-height: 1.5;
    span {padding: 0 5px;}
}
// REGULAR
.regular-link {
    float: left;
    display: block;
    @include square(80px);
}
.regular, .regular-content {
    overflow: hidden;
}
.regular-content {
    min-height: 80px;
}

// Player
.controls-holder {
    position: relative;
    height:40px;
    > * { position: absolute;}
}
.controls {
    left: 0;
    bottom: 0;
    background-color: #000;
    text-align: center;
    @include square(40px);
    i {
        line-height: 40px;
    }
}
.wave {
    margin-left: 40px;
    bottom: 0;
}
// Flex globals
.flex {
    display:flex;
    flex-flow: row;
    justify-content: center;
    > * {
        flex:1;
    }
}


