<!-- Artist Meta -->
<div class="row-fluid">
  <div class="span9 col-artist">
    <h2>"Snare Force One" Radio Show w/ Jon Kennedy</h2>
    <em class="pull-left meta">Jon Kennedy, Snare Force One, Grand Central, Tru Thoughts</em>
    <p class="location text-right pull-right">Uzbekistan</p>
    <div class="flex-row artist-labels">
      <span class="flex-item bg-funk">funk</span> 
      <span class="flex-item bg-electronica">electronica</span> 
      <span class="flex-item bg-hip-hop">hip-hop</span> 
    </div>    
  </div>
  <div class="span3">
    <h4 class="pull-left">Followers <span class="label">36</span></h4>
    <a class="trigger pull-right" ng-click="isCollapsed = !isCollapsed">show all</a>
    <div class="clear"></div>
    <ul class="followers inline">
      <li>
        <a href="#"><img src="img/members/thumb.jpg" alt=""></a>
      </li>
      <li>
        <a href="#"><img src="img/members/thumb.jpg" alt=""></a>
      </li>
      <li>
        <a href="#"><img src="img/members/thumb.jpg" alt=""></a>
      </li>
      <li>
        <a href="#"><img src="img/members/thumb.jpg" alt=""></a>
      </li>
      <li>
        <a href="#"><img src="img/members/thumb.jpg" alt=""></a>
      </li>
      <li>
        <a href="#"><img src="img/members/thumb.jpg" alt=""></a>
      </li>
      <li>
        <a href="#"><img src="img/members/thumb.jpg" alt=""></a>
      </li>
      <li>
        <a href="#"><img src="img/members/thumb.jpg" alt=""></a>
      </li>
    </ul>
    <ul class="followers inline" collapse="isCollapsed">
      <li>
        <a href="#"><img src="img/members/thumb.jpg" alt=""></a>
      </li>
      <li>
        <a href="#"><img src="img/members/thumb.jpg" alt=""></a>
      </li>
      <li>
        <a href="#"><img src="img/members/thumb.jpg" alt=""></a>
      </li>
    </ul>
    <p class="text-left">
      <a class="btn btn-small" href="#"><i class="icon-plus"></i> Follow</a>
    </p>
  </div>
</div>


<div class="row-fluid">
  <div class="span6">
    
    <div class="row-fluid">
      <!-- Artist Shortcuts -->
      <div class="span6">
        <img src="http://origin.samurai.fm/image/profile/541/large_1361806015.jpg" alt="">
        <!-- Links -->
        <h4>Links</h4>
        <ul class="unstyled">
          <li><a href="http://jonkennedy.co.uk">www.jonkennedy.co.uk</a></li>          
          <li>contact(at)jonkennedy.co.uk</li>
        </ul>
        <ul class="inline artist-social">
          <li>
            <a href="#" target="_blank" class="icon-stack">
              <i class="icon-sign-blank icon-stack-base"></i>
              <i class="icon-facebook icon-light"></i>
            </a>
          </li>
          <li>
            <a href="#" target="_blank" class="icon-stack">
              <i class="icon-sign-blank icon-stack-base"></i>
              <i class="icon-twitter icon-light"></i>
            </a>
          </li>
          <li>
            <a href="#" target="_blank" class="icon-stack">
              <i class="icon-sign-blank icon-stack-base"></i>
              <i class="icon-youtube icon-light"></i>
            </a>
          </li>          
        </ul>
        <img src="img/like.png" alt="">
      </div>
      <div class="span6">
        <br />
        <p>Working professionally in the music industry for the last 12 years. Jon has released 6 LP's on some of the UK's best underground labels. Namely Tru Thoughts Recordings and Manchester based Grand Central Records. He has remixed over 20 artists from Barclay James Harvest, Bob Marley, Pepe Deluxe, Bonobo, Quantic, 70's Psychedelic legends Piblokto and reworked the soundtrack from classic cult film 'Withnail &amp; I'. He continues to be prolific as ever with 12 remixes being completed in 2012 alone. Touring the globe as a DJ and Live Band outfit, he visits most major city's in Europe every weekend and has reached audiences as far away as China, Japan, Lebanon,  Egypt, Jordan, Malaysia, Russia and USA</p>
        <p>Jon's own musical productions have seen him work with Hennessey, Vans, Billabong, DC Shoes, Etnies, WEsc, Dulux, Channel 4 (uk) and 2 Hollywood based feature films. The future brings Jon to you under the umbrella of SONY MUSIC on his own record label THE JON KENNEDY FEDERATION</p>
      </div>
    </div>

    <!-- Artist Details -->
    <div class="row-fluid">
      <div class="span12">

      </div>

    </div>

  </div>

  <!-- Artist music -->
  <div class="span6">
    <!-- Featured -->    
    <h3 class="pull-left">Featured</h3>
    <div class="pagination pagination-mini text-right pull-right">
      <ul>
        <li><a href="#"><i class="icon-chevron-left"></i></a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#"><i class="icon-chevron-right"></i></a></li>
      </ul>
    </div>
    <hr />

    <div class="feature">
      <div class="feature-top">
        <h4 class="feature-title">samurai.fm presents Jon Kennedy's Corporeal</h4>
        <img class="feature-img" src="http://origin.samurai.fm/image/feature/78577/large_1364218034.jpg" alt="">
      </div>
      <!-- Player -->
      <div class="mix mix-list">
        <div class="meta clearfix">
          <div class="flex-column mix-labels pull-left">
            <span class="flex-item bg-hip-hop"></span> 
            <span class="flex-item bg-rock"></span> 
            <span class="flex-item bg-dubstep"></span> 
          </div>
          <h4 class="mix-title pull-left">
            Snare Force One Radio Show #12" w/Jon Kennedy
            <small class="mix-date">12 days</small>
          </h4>
          <img class="ico-feature pull-right" src="https://si0.twimg.com/profile_images/117263660/samurailogo_normal.jpg" alt="">
        </div>
        <div class="player player-list electronica">
          <div class="player-controls pull-left">
            <a href="" class="btn btn-inverse btn-play"><i class="icon-play"></i></a>
            <span class="label label-stat" ng-click="toggleBlock(statBlock, $event)">13,580</span>
          </div>
          <div class="wave">
            <img src="img/wave/big.png" alt="">
            <progress percent="50" class="bg-electronica"></progress>
          </div>
          <div class="player-controls pull-right">
            <a href="" class="btn btn-inverse btn-play"><i class="icon-star"></i></a>
            <span class="label label-stat">28</span>
          </div>                
          <div class="comments electronica" ng-click="isCollapsed = !isCollapsed">
            <div class="comments-holder" tooltip-placement="top" tooltip="Add Comment">
              <div class="comments-timeline">
                <a href="#" class="comment" style="left:5%">
                  <img src="img/members/thumb.jpg" alt="">
                </a>
                <a href="#" class="comment" style="left:15%">
                  <img src="img/members/thumb.jpg" alt="">
                </a>
                <a href="#" class="comment" style="left:45%">
                  <img src="img/members/thumb.jpg" alt="">
                </a>
                <a href="#" class="comment" style="left:75%">
                  <img src="img/members/thumb.jpg" alt="">
                </a>                        
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Music -->    
    <h3 class="pull-left">Music</h3>
    <!-- Pagination -->
    <div class="pagination pagination-mini text-right pull-right">
      <ul>
        <li><a href="#"><i class="icon-chevron-left"></i></a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#"><i class="icon-chevron-right"></i></a></li>
      </ul>
    </div>
    <hr />
    <!-- Players -->
    <div class="mix mix-list">
      <div class="meta clearfix">
        <div class="flex-column mix-labels pull-left">
          <span class="flex-item bg-electronica"></span> 
          <span class="flex-item bg-jazz"></span> 
          <span class="flex-item bg-soul"></span> 
        </div>
        <h4 class="mix-title pull-left">
          Snare Force One Radio Show #16" w/Jon Kennedy
          <small class="mix-date">12 days</small>
        </h4>
      </div>
      <div class="player player-list electronica">
        <div class="player-controls pull-left">
          <a href="" class="btn btn-inverse btn-play"><i class="icon-play"></i></a>
          <span class="label label-stat" ng-click="toggleBlock(statBlock, $event)">13,580</span>
        </div>
        <div class="wave">
          <img src="img/wave/big.png" alt="">
          <progress percent="50" class="bg-electronica"></progress>
        </div>
        <div class="player-controls pull-right">
          <a href="" class="btn btn-inverse btn-play"><i class="icon-star"></i></a>
          <span class="label label-stat">28</span>
        </div>                
        <div class="comments electronica" ng-click="isCollapsed = !isCollapsed">
          <div class="comments-holder" tooltip-placement="top" tooltip="Add Comment">
            <div class="comments-timeline">
              <a href="#" class="comment" style="left:5%">
                <img src="img/members/thumb.jpg" alt="">
              </a>
              <a href="#" class="comment" style="left:15%">
                <img src="img/members/thumb.jpg" alt="">
              </a>
              <a href="#" class="comment" style="left:45%">
                <img src="img/members/thumb.jpg" alt="">
              </a>
              <a href="#" class="comment" style="left:75%">
                <img src="img/members/thumb.jpg" alt="">
              </a>                        
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mix mix-list">
      <div class="meta clearfix">
        <div class="flex-column mix-labels pull-left">
          <span class="flex-item bg-electronica"></span> 
          <span class="flex-item bg-jazz"></span> 
          <span class="flex-item bg-soul"></span> 
        </div>
        <h4 class="mix-title pull-left">
          Snare Force One Radio Show #16" w/Jon Kennedy
          <small class="mix-date">12 days</small>
        </h4>
      </div>
      <div class="player player-list electronica">
        <div class="player-controls pull-left">
          <a href="" class="btn btn-inverse btn-play"><i class="icon-play"></i></a>
          <span class="label label-stat" ng-click="toggleBlock(statBlock, $event)">13,580</span>
        </div>
        <div class="wave">
          <img src="img/wave/big.png" alt="">
          <progress percent="50" class="bg-electronica"></progress>
        </div>
        <div class="player-controls pull-right">
          <a href="" class="btn btn-inverse btn-play"><i class="icon-star"></i></a>
          <span class="label label-stat">28</span>
        </div>                
        <div class="comments electronica" ng-click="isCollapsed = !isCollapsed">
          <div class="comments-holder" tooltip-placement="top" tooltip="Add Comment">
            <div class="comments-timeline">
              <a href="#" class="comment" style="left:5%">
                <img src="img/members/thumb.jpg" alt="">
              </a>
              <a href="#" class="comment" style="left:15%">
                <img src="img/members/thumb.jpg" alt="">
              </a>
              <a href="#" class="comment" style="left:45%">
                <img src="img/members/thumb.jpg" alt="">
              </a>
              <a href="#" class="comment" style="left:75%">
                <img src="img/members/thumb.jpg" alt="">
              </a>                        
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mix mix-list">
      <div class="meta clearfix">
        <div class="flex-column mix-labels pull-left">
          <span class="flex-item bg-electronica"></span> 
          <span class="flex-item bg-jazz"></span> 
          <span class="flex-item bg-soul"></span> 
        </div>
        <h4 class="mix-title pull-left">
          Snare Force One Radio Show #16" w/Jon Kennedy
          <small class="mix-date">12 days</small>
        </h4>
      </div>
      <div class="player player-list electronica">
        <div class="player-controls pull-left">
          <a href="" class="btn btn-inverse btn-play"><i class="icon-play"></i></a>
          <span class="label label-stat" ng-click="toggleBlock(statBlock, $event)">13,580</span>
        </div>
        <div class="wave">
          <img src="img/wave/big.png" alt="">
          <progress percent="50" class="bg-electronica"></progress>
        </div>
        <div class="player-controls pull-right">
          <a href="" class="btn btn-inverse btn-play"><i class="icon-star"></i></a>
          <span class="label label-stat">28</span>
        </div>                
        <div class="comments electronica" ng-click="isCollapsed = !isCollapsed">
          <div class="comments-holder" tooltip-placement="top" tooltip="Add Comment">
            <div class="comments-timeline">
              <a href="#" class="comment" style="left:5%">
                <img src="img/members/thumb.jpg" alt="">
              </a>
              <a href="#" class="comment" style="left:15%">
                <img src="img/members/thumb.jpg" alt="">
              </a>
              <a href="#" class="comment" style="left:45%">
                <img src="img/members/thumb.jpg" alt="">
              </a>
              <a href="#" class="comment" style="left:75%">
                <img src="img/members/thumb.jpg" alt="">
              </a>                        
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>      

  <!--/span-->
</div>
<!--/row-->
