<!-- Artist Meta -->


<div class="row-fluid">
  <div class="span6">
	  <div class="meta clearfix">
	  	<h2 class="mix-title">
		    "Snare Force One" Radio Show w/ Jon Kennedy
	  	  <small class="mix-date">12 days</small>
	  	</h2>
	  </div>
    <!-- Feature Details -->
    <p>Working professionally in the music industry for the last 13 years, Jon has released 6 LP's on some of the UK's best underground labels. Namely Tru-Thoughts Recordings and Manchester based Grand Central Records. He has remixed over 20 artists from Barclay James Harvest, Bonobo, Quantic, 70's Psychedelic legends Pete Brown &amp; Piblokto and reworked the soundtrack from classic cult film 'Withnail &amp; I'. He continues to be prolific as ever with 12 remixes being completed in 2012 alone. Touring the globe as a DJ and Live Band outfit, he visits most major city's in Europe every weekend and has reached audiences as far away as China, Japan, Lebanon, Egypt, Jordan, Malaysia, Russia and USA.<br>
		<br>
		Jon's own musical productions have seen him work with Hennessey, Vans, Billabong, Quicksilver, Etnies, WEsc, DC Shoes, IVI Vision, Dulux Paints, Channel 4 (UK) and 2 independent Hollywood feature films, 1 starring Academy Award winner Olympia Dukakis, Lindsay Hollister (Get Smart) and Trevor Donovan (90210).<br>
		<br>
		The future plans bring Jon to you under the umbrella of SONY MUSIC on his own record label THE JON KENNEDY FEDERATION.</p>      
  </div>

  <!-- Artist music -->
  <div class="span6">
  	<p class="feature-share">
  		<img src="img/like.png" alt="">
  	</p>
    <div class="feature">
      <img class="feature-img" src="http://origin.samurai.fm/image/feature/78577/large_1364218034.jpg" alt="">
      <!-- Player -->
      <div class="mix mix-list">
        <div class="meta clearfix">
          <div class="flex-column mix-labels pull-left">
            <span class="flex-item bg-hip-hop"></span> 
            <span class="flex-item bg-rock"></span> 
            <span class="flex-item bg-dubstep"></span> 
          </div>
          <h4 class="mix-title pull-left">
            Snare Force One Radio Show #12" w/Jon Kennedy
            <small class="mix-date">12 days</small>
          </h4>
          <img class="ico-feature pull-right" src="https://si0.twimg.com/profile_images/117263660/samurailogo_normal.jpg" alt="">
        </div>
        <div class="player player-list electronica">
          <div class="player-controls pull-left">
            <a href="" class="btn btn-inverse btn-play"><i class="icon-play"></i></a>
            <span class="label label-stat" ng-click="toggleBlock(statBlock, $event)">13,580</span>
          </div>
          <div class="wave">
            <img src="img/wave/big.png" alt="">
            <progress percent="50" class="bg-electronica"></progress>
          </div>
          <div class="player-controls pull-right">
            <a href="" class="btn btn-inverse btn-play"><i class="icon-star"></i></a>
            <span class="label label-stat">28</span>
          </div>                
          <div class="comments electronica" ng-click="isCollapsed = !isCollapsed">
            <div class="comments-holder" tooltip-placement="top" tooltip="Add Comment">
              <div class="comments-timeline">
                <a href="#" class="comment" style="left:5%">
                  <img src="img/members/thumb.jpg" alt="">
                </a>
                <a href="#" class="comment" style="left:15%">
                  <img src="img/members/thumb.jpg" alt="">
                </a>
                <a href="#" class="comment" style="left:45%">
                  <img src="img/members/thumb.jpg" alt="">
                </a>
                <a href="#" class="comment" style="left:75%">
                  <img src="img/members/thumb.jpg" alt="">
                </a>                        
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Player -->
      <div class="mix mix-list">
        <div class="meta clearfix">
          <div class="flex-column mix-labels pull-left">
            <span class="flex-item bg-hip-hop"></span> 
            <span class="flex-item bg-rock"></span> 
            <span class="flex-item bg-dubstep"></span> 
          </div>
          <h4 class="mix-title pull-left">
            Snare Force One Radio Show #12" w/Jon Kennedy
            <small class="mix-date">12 days</small>
          </h4>
          <img class="ico-feature pull-right" src="https://si0.twimg.com/profile_images/117263660/samurailogo_normal.jpg" alt="">
        </div>
        <div class="player player-list electronica">
          <div class="player-controls pull-left">
            <a href="" class="btn btn-inverse btn-play"><i class="icon-play"></i></a>
            <span class="label label-stat" ng-click="toggleBlock(statBlock, $event)">13,580</span>
          </div>
          <div class="wave">
            <img src="img/wave/big.png" alt="">
            <progress percent="50" class="bg-electronica"></progress>
          </div>
          <div class="player-controls pull-right">
            <a href="" class="btn btn-inverse btn-play"><i class="icon-star"></i></a>
            <span class="label label-stat">28</span>
          </div>                
          <div class="comments electronica" ng-click="isCollapsed = !isCollapsed">
            <div class="comments-holder" tooltip-placement="top" tooltip="Add Comment">
              <div class="comments-timeline">
                <a href="#" class="comment" style="left:5%">
                  <img src="img/members/thumb.jpg" alt="">
                </a>
                <a href="#" class="comment" style="left:15%">
                  <img src="img/members/thumb.jpg" alt="">
                </a>
                <a href="#" class="comment" style="left:45%">
                  <img src="img/members/thumb.jpg" alt="">
                </a>
                <a href="#" class="comment" style="left:75%">
                  <img src="img/members/thumb.jpg" alt="">
                </a>                        
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>      

  <!--/span-->
</div>
<!--/row-->

